@font-face {
  font-family: 'wp-font-emots';
  src: url("font/emoticons.eot");
  src: url("font/emoticons.eot?#iefix") format('embedded-opentype'),
       url("font/emoticons.woff") format('woff'),
       url("font/emoticons.ttf") format('truetype'),
       url("font/emoticons.svg#emoticons") format('svg');
}
[class^="wp-font-emots-"]:before,
[class*=" wp-font-emots-"]:before {
  font-family: 'wp-font-emots';
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.wp-font-emots-happy:before    { content: '\e800'; }
.wp-font-emots-unhappy:before { content: '\e802'; }
.wp-font-emots-sleep:before { content: '\e803'; }
.wp-font-emots-thumbsup:before { content: '\e804'; }
.wp-font-emots-devil:before { content: '\e805'; }
.wp-font-emots-surprised:before { content: '\e806'; }
.wp-font-emots-tongue:before { content: '\e807'; }
.wp-font-emots-coffee:before { content: '\e808'; }
.wp-font-emots-sunglasses:before { content: '\e809'; }
.wp-font-emots-displeased:before { content: '\e80a'; }
.wp-font-emots-beer:before { content: '\e80b'; }
.wp-font-emots-grin:before { content: '\e80c'; }
.wp-font-emots-angry:before { content: '\e80d'; }
.wp-font-emots-saint:before { content: '\e80e'; }
.wp-font-emots-cry:before { content: '\e80f'; }
.wp-font-emots-shoot:before { content: '\e810'; }
.wp-font-emots-laugh:before { content: '\e812'; }
.wp-font-emots-wink2:before { content: '\e813'; }
