@font-face {
    font-family: 'wp-font-emots';
    src: url('font/wp-font-emots.eot?73553728');
    src: url('font/wp-font-emots.eot?73553728#iefix') format('embedded-opentype'),
         url('font/wp-font-emots.woff?73553728') format('woff'),
         url('font/wp-font-emots.ttf?73553728') format('truetype'),
         url('font/wp-font-emots.svg?73553728#wp-font-emots') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="wp-font-emots-"]:before,
[class*=" wp-font-emots-"]:before {
    font-family: 'wp-font-emots';
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    margin-right: 0.2em;
    margin-left: 0.2em;

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;
}

.wp-font-emots-emo-happy:before { content: '\e800'; }
.wp-font-emots-emo-wink:before { content: '\e801'; }
.wp-font-emots-ok:before { content: '\e802'; }
.wp-font-emots-emo-unhappy:before { content: '\e803'; }
.wp-font-emots-emo-sleep:before { content: '\e804'; }
.wp-font-emots-thumbs-up:before { content: '\e805'; }
.wp-font-emots-emo-devil:before { content: '\e806'; }
.wp-font-emots-emo-surprised:before { content: '\e807'; }
.wp-font-emots-emo-tongue:before { content: '\e808'; }
.wp-font-emots-emo-coffee:before { content: '\e809'; }
.wp-font-emots-emo-sunglasses:before { content: '\e80a'; }
.wp-font-emots-emo-displeased:before { content: '\e80b'; }
.wp-font-emots-emo-beer:before { content: '\e80c'; }
.wp-font-emots-emo-grin:before { content: '\e80d'; }
.wp-font-emots-emo-angry:before { content: '\e80e'; }
.wp-font-emots-emo-saint:before { content: '\e80f'; }
.wp-font-emots-emo-cry:before { content: '\e810'; }
.wp-font-emots-emo-shoot:before { content: '\e811'; }
.wp-font-emots-emo-squint:before { content: '\e812'; }
.wp-font-emots-emo-laugh:before { content: '\e813'; }
.wp-font-emots-cancel:before { content: '\e814'; }
.wp-font-emots-heart:before { content: '\e815'; }
.wp-font-emots-star:before { content: '\e816'; }
.wp-font-emots-plus-circled:before { content: '\e817'; }
.wp-font-emots-minus-circled:before { content: '\e818'; }
.wp-font-emots-help-circled:before { content: '\e819'; }
.wp-font-emots-info-circled:before { content: '\e81a'; }
.wp-font-emots-thumbs-down:before { content: '\e81b'; }
